*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* header section */

:root{
     --font-family: "Inter", sans-serif;
     --font-familys: "Inika", serif;
     --padding:50px 100px;
}

.header{
 
     .nav-manu{
          background-color: aliceblue;
          height: 80px;
          width: 1194px;
          margin-top: 40px;
          margin-left: 300px;
          border-radius: 18px;
          padding-top: 19px;
          padding-right: 49px;
          padding-bottom: 19px;
          padding-left: 49px;
          gap: 84px;
          position: sticky;
          z-index: 999;

          .nav-links{
               display: flex;
               gap: 1.2rem;
               justify-content: space-between;
               z-index: 999;

               & li{
                    display: flex;
                    gap: 20px;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 100%;
                    z-index: 999;

                    
               }

               & li:hover{
                    background-color: rgb(219, 219, 219);
                    cursor: pointer;
               }

               & li.active{
                    color: #65AEF2;

               }

               & li.logo{
                    color: #121315;
                    font-family: var(--font-familys);
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 64%;
                    width: 78px;
                    height: 42px;
                    top: 19px;
                    left: 561px;
                    

               }
          }
     }
}

.nav-toggle{
     display: none;
     flex-direction: column;
     gap: 6px;
     cursor: pointer;
     padding: 4px;
     z-index: 1001;
}

.nav-toggle span{
     display: block;
     width: 30px;
     height: 3px;
     background-color: #070303;
     transition: all 0.3s ease-in;
}

/* hero section */

.hero{
     background-image: url('images/unsplash_rlwE8f8anOc.png');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 90vh;
     margin-top: -150px;
     position: relative;
     align-items: flex-end;
     display: flex;
     padding-bottom: 5rem;


}
.hero::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background: linear-gradient(180deg, rgba(0,0,0,0.5)) ;
}
.hero-text{
     position: relative;
     z-index: 2;
     max-width: 800px;
     margin: 0 auto;

     & h1{
          color:white;
          margin-left: -650px;
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 70px;
          line-height: 100%;
          letter-spacing: 0%;

         
     }


}

.indicator{
     display: flex;
     margin-left: 50px;
     gap: 8px;

  .dots{
     background-color: #f9f9f9;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     margin-top: 90px;
     }

     .active{
          background-color: #65AEF2;
     }
}


/* book room section */

.Bookroom{
     padding: var(--padding);
    .bgBook{
     background-color: #E9F3F6;
     width: 100%;
     height: 40vh;
     border-radius: 42px;
     position: relative;

     .booktext{
          margin: 0px auto;
          align-items: center;
          text-align: center;
          padding: 20px;

          & h3{
               font-size: 32px;
               font-family: var(--font-family);
               font-weight: 500;
               margin-top: 30px;
          }
          & p{
               font-family: var(--font-family);
               padding: 5px 0;
               color: #5E5E5E;
          }
     }

    }

    
}

.Booklist{
     display: flex;
     font-family: var(--font-family);
    justify-content: space-evenly;
    margin-top: 20px;

    .btn{
     background: #65AEF2;
     font-weight: 700;
     border-radius: 12px;
     border: none;
     width: 200px;
     height: 59px;
     margin-top: 40px;
     font-size: 1.6rem;
     color: white;
     cursor: pointer;
    
    }

    .btn:hover{
     background-color: #4278ac;
    }
    
}

.Bookchack{
     & h3{
          font-size: 20px;
          padding: 20px 0px;
     }
}
.chack{
     display: flex;
     gap: 20px;
     border-radius: 12px;
     background-color: #ffffff;
     padding: 10px 15px;

     & p{
          font-size: 18px;
          font-weight: 600;
     }

}

.personman{
     & h3{
          font-size: 20px;
          padding: 20px 0px;
     }
}
.Bookperson{
     display: flex;
     gap: 20px;
     border-radius: 12px;
     background-color: #ffffff;
     padding: 10px 15px;

     & p{
          font-size: 18px;
          font-weight: 600;
     }
     
}

.option{
     outline: none;
     border: none;
     .option1{
          outline: none;
          border: none;
          width: 900px;
     }
}



/* service  section*/
.service{
     background-color: #F3F3F3;
     padding: 100px 150px;

}

.service-all{
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 10px;
     margin-left: 20px;
}

.Rooms{

     position: relative;
     grid-area: 1/1/ span 2 / span 1;
     transition: 0.3s ease-in-out;

     & div{
          position: absolute;
          color: white;
          margin-top: -120px;
          margin-left: 110px;
          font-size: 25px;
          font-weight: 700;
          font-family: var(--font-family);

     }

    

}

.Rooms:hover{
     transform: translateY(-10px);
}

.Dining{

     position: relative;
     transition: 0.3s ease-in-out;

     & div{
          position: absolute;
          color: white;
          margin-top: -120px;
          margin-left: 110px;
          font-size: 25px;
          font-weight: 700;
          font-family: var(--font-family);

     }

    

}
.Dining:hover{
     transform: translateY(-10px);
}

.Conferences{
     position: relative;
     transition: 0.3s ease-in-out;

     & div{
          position: absolute;
          color: white;
          margin-top: -140px;
          margin-left: 100px;
          font-size: 25px;
          font-weight: 600;
          font-family: var(--font-family);

     }

    

}

.Conferences:hover{
     transform: translateY(-10px);

}

.Service{

     position: relative;
     transition: 0.3s ease-in-out;

     & div{
          position: absolute;
          color: white;
          margin-top: -140px;
          margin-left: 50px;
          font-size: 25px;
          font-weight: 600;
          font-family: var(--font-family);

     }

    

}

.Service:hover{
     transform: translateY(-10px);
}

.Wedding{

     position: relative;
     transition: 0.3s ease-in-out;

     & div{
          position: absolute;
          color: white;
          margin-top: -140px;
          margin-left: 50px;
          font-size: 25px;
          font-weight: 600;
          font-family: var(--font-family);

     }

    

}

.Wedding:hover{
     transform: translateY(-10px);
}




/* Special Offers section */

.Special-offers{
     & div{
          .Special1{
               display: flex;
               padding: var(--padding);
               justify-content: space-between;
               .special{ 
                    padding: 1.5rem;           
            
               & h4{
                    color: #65AEF2;
                    font-family: var(--font-family);
                    font-size: 32px;
                    font-weight: 500;

               }
               & h2{
                    font-size: 50px;
                    font-family: var(--font-family);
                    font-weight: 700;
                    margin-top: 10px;
               }

               & p{
                    margin-top: 10px;
                    font-weight: 500;
                    font-size: 20px;
                    font-family: var(--font-family);
                    color:#686666;
          
               }
          }
     }

          .view{
               & h2{
                    color: #65AEF2;
                    font-family: var(--font-family);
                    font-size: 32px;
                    font-weight: 700;
                    align-items: center;
                    text-align: center;
                    margin-top: 90px;
               }
          }

          .offer{
               display: flex;
               gap: 80px;
               padding: 60px 200px;
               background-color: white;
               margin-left: 40px;
               
               justify-content: space-around;

               #div1{
                    width: 400px;
                    height: 560px;
                    & img{
                         width: 340px;
                    }
               }

               .div{
                    box-shadow:  0 0 50px rgb(128, 126, 126);
                    height: 547px;
                    gap: 8px;
                    border-radius: 42px;
                    width: 400px;
                    height: 560px;
                    transition: 0.3s ease-in-out;
                    & img{
                         width: 340px;
                         margin-left: 30px;
                         margin-top: 20px;
                         width: 300px;
                         height: 250px;
                    }

                    .offer-text{
                         padding: 30px 20px;
                         font-size: 20px;

                         & p{
                              margin-top:10px;
                              color: #7a7a7a;

                         }

                         .text{
                              display: flex;
                              justify-content: space-between;
                              margin-top: 10px;
                         }

                         & h2{
                              text-align: center;
                              margin-top: 15px;
                              .span{
                                   font-size: 20px;
                              }
                         }


                    }



               }

               .div:hover{
                    transform: translateY(-10px);
               }


          }

          }


     }



     /* footer section */


.footer{

     .footer-promo{
          margin-top: 70px;
         & h2{
          font-size: 36px;
          font-weight: 500;
          font-family: var(--font-family);
         }

         .email{
          display: flex;
          margin-top: 40px;

          #email{
               width: 400px;
               height: 60px;
               border-radius: 8px 0 0 8px;
               outline: none;
               border: none;
               
          }

          & button{
               background-color:#65AEF2;
               border-radius:  0 8px 8px 0;
               width: 150px;
               height: 65px;
               margin-top: -2px;
               font-size: 20px;
               color: white;
          }

         }
     }

     .footer-Bg{
          background-color: black;
          color: white;
          display: flex;
          justify-content: space-around;
          padding: var(--padding);
     }

     .footer-logo{
          & h2{
               text-align: center;
               font-size: 64px;
               font-weight: 700;
               line-height: 64%;
          }
          .footer-content{
               display: flex;
               gap: 100px;
               margin-top: 50px;

               & div{
                    & p{
                         padding: 10px;
                    }
               }
          }

     }


}

.copyright{
     text-align: center;
     color: whitesmoke;
     background-color: #1E1E1E;
     padding-top: 40px;
}