@media (min-device-width:599px) and (max-device-width:768px){

     .nav-manu{
          max-width: 400px;
          position: relative;
  
     }

     .nav-toggle{
          display: flex;
     }
     .nav-links{
          position: fixed;
          top: 0;
          right: -100%;
          width: 70%;
          height: 100vh;
          background-color: rgb(0, 128, 171);
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 40px;
          transition: right 0.3s ease-in;

     }

     .nav-links.active{
          right: 0;
     }

     .nav-links li{
          font-weight: 700;

     }

     .nav-toggle.active{
          transform: translateY(9px) rotate(45px);
     }
     .nav-toggle.active{
          opacity: 0;
     }
     .nav-toggle.active{
          transform: translateY(-9px) rotate(-45px);
     }

     /* hero section */

     .hero{
          width: 90%;

     }

     .hero-text{
          position: relative;
          z-index: 2;
          max-width: 400px;
          margin: 0 auto;
     
          & h1{
            margin-left: 20px;
            font-size: 60px;
     
              
          }
     
     
     }

     .indicator{
          margin-left: 170px;
     }


     
/* book room section */

.Bookroom{
     padding: 0 10px;
     .bgBook{
          .booktext{
               & h3{
                    font-size: 40px;
                    font-weight: 600;
               }

               & p{
                    font-size: 30px;
                    
               }
          }
     }

}

.Booklist{
     display: block;
    margin-top: 11px;

    .btn{
     font-weight: 500;
     width: 150px;
     height: 45px;
     margin-top: 20px;
     font-size: 0.9rem;
     margin-left: 35%;
    
    }

    .btn:hover{
     background-color: #4278ac;
    }
    
}

.Bookchack{
     & h3{
          font-size: 30px;
          padding: 20px 0px;
     }

     .chack{
          & p{
               font-size: 20px;
          }
     }
}

.personman{
     & h3{
          font-size: 30px;
          padding: 20px 0px;
     }
}
.Bookperson{
     justify-content: space-between;

     & p{
          font-size: 24px;
          font-weight: 600;
     }
     
}

.option{
     outline: none;
     border: none;
     .option1{
          outline: none;
          border: none;
          width: 900px;
     }
}



/* service  section*/

.service{
     background-color: #F3F3F3;
     padding: 100px 10px;

}

.service-all{
     display: grid;
     grid-template-columns: repeat(1, 1fr);

     .Rooms{
          width: 500px;
          height: 200px;
          margin-bottom: 500px;
          margin-left: 70px;

          & img{
               width: 450px;
               height: 600px;

          }

          & div{
               margin-top: -250px;
               & h2{
                    font-size: 70px;
               }
          }
     }

     #dining{
          position: relative;
         margin-left: 60px;
         margin-bottom: 100px;

         & img{
               width: 450px;
               height: 600px;
          
         }
         & div{
          margin-top: -250px;
          & h2{
               font-size: 70px;
          }
     }
     }

     #Conferences{
          position: relative;
          margin-left: 60px;
          margin-bottom: 100px;
 
          & img{
                width: 450px;
                height: 600px;
           
          }

          & div{
               margin-top: -250px;
               margin-left: 10px;
               & h2{
                    font-size: 60px;
               }
          }

     }

     #service{
          position: relative;
          margin-left: 60px;
          margin-bottom: 100px;
 
          & img{
                width: 450px;
                height: 600px;
           
          }

          & div{
               margin-top: -250px;
               margin-left: 17%;
               & h2{
                    font-size: 50px;
                    width: 250px !important;
               }
          }

     }


     #Wedding{
          position: relative;
          margin-left: 60px;
          margin-bottom: 100px;
 
          & img{
                width: 450px;
                height: 600px;
           
          }

          & div{
               margin-top: -250px;
               margin-left: 17%;
               & h2{
                    font-size: 50px;
                    width: 250px !important;
               }
          }

     }
}


/* Special Offers section */

.Special-offers{
     & div{
          .Special1{
               display: block;
               .special{ 
                    padding: 0.8rem;           
            
               & h4{
                    color: #65AEF2;
                    font-size: 30px;
                    font-weight: 500;

               }
               & h2{
                    font-size: 50px;
                    margin-top: 30px;
               }

               & p{
                    margin-top: 30px;
                    font-size: 22px;
          
               }
          }
     }

          .view{
               & h2{
                    font-size: 32px;
                    font-weight: 700;
                    margin-top: 50px;
               }
          }

          .offer{
               display: block;
               gap: 150px;
               padding: 10px 150px;
               background-color: white;
               margin-left: -50px;
               

               .div{
                    margin-top: 40px;
                    & img{
                         width: 340px;
                         margin-left: 30px;
                         margin-top: 20px;
                         width: 300px;
                         height: 250px;
                    }

               }

          }

          }


     }


          /* footer section */

          .footer{
               padding: 15px 0px;
               width: 90%;

               .footer-promo{
                    margin-top: 50px;
                   & h2{
                    font-size: 28px;
                   }
          
                   .email{
                    display: block;

                    #email{
                         display: block;
                         border-radius: 8px;
                         max-width: 380px;
                         margin-left: 10px;
                    }
          
                    & button{
                         margin-top: 20px;
                         margin-left: 25%;
                         border-radius: 8px;
                         
                    }
          
                   }
               }
          
               .footer-Bg{
                    display: block;
               }
          
               .footer-logo{
                    & h2{
                         font-size: 45px;
                         margin-top:2rem;
                    }
                    .footer-content{
                         display: block;
                         gap: 120px;
                         margin-top: 70px;
                         font-size: 20px;
                         text-align: center;
                    }
          
               }
          
          
          }
          
          .copyright{
               text-align: center;
                    margin-top: -50px;
                    color: rgb(255, 255, 255);
              
          }





}